<div class="left">
    <img class='pok_img' src="https://opengameart.org/sites/default/files/card%20back%20red.png" style="height: 200px; width: 150px;" data-pokemon="<%= @pokemon[0].image_url%>" data-indx="0">
    <img class='pok_img' src="https://opengameart.org/sites/default/files/card%20back%20red.png" style="height: 200px; width: 150px;" data-pokemon="<%= @pokemon[1].image_url%>" data-indx="1">
    <img class='pok_img' src="https://opengameart.org/sites/default/files/card%20back%20red.png" style="height: 200px; width: 150px;" data-pokemon="<%= @pokemon[2].image_url%>" data-indx="2">
    <img class='pok_img' src="https://opengameart.org/sites/default/files/card%20back%20red.png" style="height: 200px; width: 150px;" data-pokemon="<%= @pokemon[3].image_url%>" data-indx="3">
    <img class='pok_img' src="https://opengameart.org/sites/default/files/card%20back%20red.png" style="height: 200px; width: 150px;" data-pokemon="<%= @pokemon[4].image_url%>" data-indx="4">
    <img class='pok_img' src="https://opengameart.org/sites/default/files/card%20back%20red.png" style="height: 200px; width: 150px;" data-pokemon="<%= @pokemon[5].image_url%>" data-indx="5">
    <img class='pok_img' src="https://opengameart.org/sites/default/files/card%20back%20red.png" style="height: 200px; width: 150px;" data-pokemon="<%= @pokemon[6].image_url%>" data-indx="6">
    <img class='pok_img' src="https://opengameart.org/sites/default/files/card%20back%20red.png" style="height: 200px; width: 150px;" data-pokemon="<%= @pokemon[7].image_url%>" data-indx="7">
    <img class='pok_img' src="https://opengameart.org/sites/default/files/card%20back%20red.png" style="height: 200px; width: 150px;" data-pokemon="<%= @pokemon[8].image_url%>" data-indx="8">
    <img class='pok_img' src="https://opengameart.org/sites/default/files/card%20back%20red.png" style="height: 200px; width: 150px;" data-pokemon="<%= @pokemon[9].image_url%>" data-indx="9">
    <img class='pok_img' src="https://opengameart.org/sites/default/files/card%20back%20red.png" style="height: 200px; width: 150px;" data-pokemon="<%= @pokemon_clone[0].image_url%>" data-indx="10">
    <img class='pok_img' src="https://opengameart.org/sites/default/files/card%20back%20red.png" style="height: 200px; width: 150px;" data-pokemon="<%= @pokemon_clone[1].image_url%>" data-indx="11">
    <img class='pok_img' src="https://opengameart.org/sites/default/files/card%20back%20red.png" style="height: 200px; width: 150px;" data-pokemon="<%= @pokemon_clone[2].image_url%>" data-indx="12">
    <img class='pok_img' src="https://opengameart.org/sites/default/files/card%20back%20red.png" style="height: 200px; width: 150px;" data-pokemon="<%= @pokemon_clone[3].image_url%>" data-indx="13">
    <img class='pok_img' src="https://opengameart.org/sites/default/files/card%20back%20red.png" style="height: 200px; width: 150px;" data-pokemon="<%= @pokemon_clone[4].image_url%>" data-indx="14">
    <img class='pok_img' src="https://opengameart.org/sites/default/files/card%20back%20red.png" style="height: 200px; width: 150px;" data-pokemon="<%= @pokemon_clone[5].image_url%>" data-indx="15">
    <img class='pok_img' src="https://opengameart.org/sites/default/files/card%20back%20red.png" style="height: 200px; width: 150px;" data-pokemon="<%= @pokemon_clone[6].image_url%>" data-indx="16">
    <img class='pok_img' src="https://opengameart.org/sites/default/files/card%20back%20red.png" style="height: 200px; width: 150px;" data-pokemon="<%= @pokemon_clone[7].image_url%>" data-indx="17">
    <img class='pok_img' src="https://opengameart.org/sites/default/files/card%20back%20red.png" style="height: 200px; width: 150px;" data-pokemon="<%= @pokemon_clone[8].image_url%>" data-indx="18">
    <img class='pok_img' src="https://opengameart.org/sites/default/files/card%20back%20red.png" style="height: 200px; width: 150px;" data-pokemon="<%= @pokemon_clone[9].image_url%>" data-indx="19">
</div>
